
.main-image {
    max-width: 100%;
    max-height: 40vh;
    justify-content: center;
    align-items: center;
}

.gallery {
    align-items: center;
    transition: transform 0.3s ease;
    justify-content: center;
}

.gallery-item {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.45;
    transition: opacity 0.25s ease;
}

.gallery-item:hover,
.gallery-item.active {
  opacity: 1;
}